
/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: center;
}

/* Style The Dropdown Button */
.menu {
    color: grey;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    font-size: 0.8em;
    border: none;
    cursor: pointer;
}


/* Dropdown Content (Hidden by Default) */
.hide-show {
    display: none;
}
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .hide-show {
    display: block;
    padding: 12.5px;
}
